	/* Keyframes */

@keyframes blink-critical {
	to {
		/*color: @white;*/
		background-color: @critical;
	}
}

	/* Colors */

@define-color drkred    #6e4d4d;
@define-color red	#cc241d;
@define-color brred	#fb4934;

@define-color drkyellow #6e6b4d;
@define-color yellow	#d79921;
@define-color bryellow	#fabd2f;

@define-color drkgreen  #222b20;
@define-color green	#98971a;
@define-color brgreen	#b8bb26;

@define-color drkaqua   #4d6e4e;
@define-color aqua	#689d6a;
@define-color braqua	#8ec07c;

@define-color drkblue   #4d516e;
@define-color blue	#458588;
@define-color brblue	#83a598;

@define-color drkpurple #6a4d6e;
@define-color purple	#b16286;
@define-color brpurple	#d3869b;

@define-color black	#000000;
@define-color drkergray #181818;
@define-color drkgray	#1E222D;
@define-color gray	#a89984;
@define-color brgray	#928374;
@define-color white	#FFFFFF;

@define-color winbluetaskbar #1E222B;
@define-color winbluedarker #112351;
@define-color winblue #67C3FD;
@define-color wintaskbar #202020;
@define-color winhighlight #29292B;
@define-color winbluedimmer #25658F;
@define-color winborder #36383A;
@define-color drkarchlinux #093361;
@define-color archlinux #1793D1;

@define-color arrow	@winbluedimmer;
@define-color window	@winhighlight;
@define-color warning	@yellow;
@define-color critical	@red;
@define-color mode	@blue;
@define-color unfocused	@black;
@define-color focused	@winborder;
@define-color inactive	@purple;
@define-color layout	@black;
@define-color network	@drkgray;
@define-color sound	@drkgray;
@define-color memory	@drkgray;
@define-color date	@drkgray;
@define-color user	@winhighlight;
@define-color time	@winhighlight;
@define-color temperature @winhighlight;
@define-color cpu	@winhighlight;
@define-color battery	@winhighlight;
@define-color tray	@winhighlight;

/* Reset all styles */
* {
	border: @white;
	border-radius: 2px; 
	min-height: 15px;
	margin-top: 1px;
	margin-bottom: 1px;
	padding: 0px; 
	box-shadow: @black;
	text-shadow: @black;
	-gtk-icon-shadow: @black;
}

/* The whole bar */
#waybar {
	background: rgba(20, 20, 20, 0.85);
	color: @white;
/*	font-family: Iosevka; */
	font-family: Segoe-UI-Variable;
	font-size: 10pt;
	font-weight: bold;
}

/* Each module */
#battery,
#clock,
#cpu,
#language,
#memory,
#mode,
s#network,
#pulseaudio,
#temperature,
#tray,
#backlight,
#idle_inhibitor,
#disk,
#user,
#mpris {
	padding-left: 6pt;
	padding-right: 6pt;
}

/* Each critical module */
#mode,
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical.discharging {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-name: blink-critical;
	animation-duration: 1s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning.discharging {
	color: @warning;
}

#mode {
	color: @white;
	background: @mode;
}

/* Workspaces stuff */
#workspaces button {
	font-weight: bold;
	padding-left: 2pt;
	padding-right: 2pt;
	color: @white;
	background: #181818;
}

/* Inactive (on unfocused output) */
#workspaces button.visible {
	color: @white;
	background: @inactive;
}

/* Active (on focused output) */
#workspaces button.active {
	color: @white;
	background: @winborder;
}

/* Contains an urgent window */
#workspaces button.urgent {
	color: @black;
	background: @warning;
}

/* Style when cursor is on the button */
#workspaces button:hover {
	background: @winbluedimmer;
	color: @white;
}

#window {
	background: @winbluetaskbar;
	color: @white;
}

#pulseaudio {
	background: transparent;
	color: @white;
}

#pulseaudio:hover {
  background-color: @winhighlight;
}

#network {
	background: transparent;
	color: @white;
}

#network:hover {
  background-color: @winhighlight;
}

#memory {

	background: @memory;
	color: @white;
}

#memory:hover {
  background-color: @winhighlight;
}

#cpu {
	background: @drkergray;
	color: @white;
}

#cpu:hover {
  background-color: @winhighlight;
}

#temperature {
	background: transparent;
	color: @white;
}

#temperature:hover {
  background-color: @winhighlight;
}

#language {
	background: @layout;
	color: @white;
}

#battery {
	background: transparent;
	color: @white;
	margin-left: -2pt;
	margin-right: -2pt;
}

#battery:hover {
  background-color: @winhighlight;
}

#tray {
	background: transparent;
        color: @white;
}

#tray:hover {
  background-color: @winhighlight;
}

#user {
	background: @user;
        color: @white;
}

#clock {
	background: transparent;
	color: @white;
	font-size: 11pt;
}

#clock:hover {
  background-color: @winhighlight;
}

#custom-notifications {
	font-size: 16pt;
	color: @white;
	background: transparent;
	margin-right: 7px;
	margin-left: 2px;
}

#custom-notifications:hover {
  background-color: @winhighlight;
}

#custom-start {
	font-size: 16pt;
	color: @white;
	background: transparent;
	margin-left: 7px;
	margin-right: 2px;
}

#custom-start:hover {
  background-color: @winhighlight;
}

#custom-arrowL1 {
	font-size: 11pt;
	color: @arrow;
	background: transparent;
}

#custom-arrowR1 {
	font-size: 11pt;
	color: @arrow;
	background: transparent;
}

#custom-arrowM1 {
	font-size: 13pt;
	color: @arrow;
	margin-left: 12pt;
	background: transparent;
}

#custom-arrowM2 {
	font-size: 13pt;
	color: @arrow;
	margin-right: 12pt;
	background: transparent;
}

#custom-line {
	font-size: 14pt;
	color: @arrow;
	background: transparent;
}
