	/* Colors */
@define-color bg0_h			#1d2021;
@define-color bg0			#282828;
@define-color bg0_s			#32302f;
@define-color bg1			#3c3836;
@define-color bg2			#504945;
@define-color bg3			#665c54;
@define-color bg4			#7c6f64;
@define-color gray			#928374;
@define-color fg4			#a89984;
@define-color fg3			#bdae93;
@define-color fg2			#d5c4a1;
@define-color fg1			#ebdbb2;
@define-color fg0			#fbf1c7;

@define-color red			#cc241d;
@define-color lred			#fb4934;
@define-color orange		#d65d0e;
@define-color lorange		#fe8019;
@define-color yellow		#d79921;
@define-color lyellow		#fabd2f;
@define-color green			#98971a;
@define-color lgreen		#b8bb26;
@define-color blue			#458588;
@define-color lblue			#83a598;
@define-color purple		#b16286;
@define-color lpurple		#d3869b;
@define-color aqua			#689d6a;
@define-color laqua			#8ec07c;

@define-color black 		@bg0;
@define-color white 		@fg1;

	/* Everything */
* {
	font-family: Iosevka;
	font-weight: bold;
	font-size: 10pt;
}

	/* The Whole Bar */
#waybar {
/*	background: rgba(29, 32, 33, 0.96);		*/
	background: rgba(0, 0, 0, 0.35);
	color: @white;
/*	border: 1px solid #ffffff;				*/
}

	/* Standard Modules */
#clock,
#date,
#battery,
#cpu,
#memory,
#temperature,
#disk,
#network,
#pulseaudio,
#backlight,
#tray,
#language,
#user,
#mode,
#idle_inhibitor,
#tooltip,

#mode {
    color: #cc3436;
    font-weight: bold;
}
#idle_inhibitor {
    padding: 0 10px;
}
tooltip {
	background: rgba(28, 28, 28, 0.85);
	color: @white;
}
tooltip label {
	background: rgba(28, 28, 28, 0.8);
	color: white;
}

	/* Critical Modules */
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical.discharging {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-name: blink-critical;
	animation-duration: 1s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning.discharging {
	color: @warning;
}

/* Workspaces stuff */
#workspaces button {
	font-weight: bold;
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	color: @white;
	background: transparent;
/*	border: 1px solid #ffffff; */
}

/* Inactive (on unfocused output) */
#workspaces button.visible {
	color: @white;
	background: @black;
}

/* Active (on focused output) */
#workspaces button.active {
	color: @white;
	background: transparent;
	border: 2px solid #ffffff;
}

/* Contains an urgent window */
#workspaces button.urgent {
	color: @black;
	background: @yellow;
}

/* Style when cursor is on the button */
#workspaces button:hover {
	background: transparent;
	color: @white;
/*	border: @white; */
}

#window {
	background: transparent;
	color: @white;
	padding-right: 2pt;
	padding-bottom: 2pt;
}

#pulseaudio {
	background: transparent;
	color: @white;
}

#pulseaudio:hover {
	background: rgba(200, 200, 200, 0.125);
	color: @white;
	border: @white;
}

#network {
	background: transparent;
	color: @white;
}

#network:hover {
	background: rgba(200, 200, 200, 0.125);
	color: @white;
	border: @white;
}

#memory {
	background: @memory;
	color: @white;
}

#memory:hover {
	background: rgba(200, 200, 200, 0.125);
	color: @white;
	border: @white;
}

#cpu {
	background: transparent;
	color: @white;
}

#cpu:hover {
	background: rgba(200, 200, 200, 0.125);
	color: @white;
	border: @white;
}

#temperature {
	background: transparent;
	color: @white;
}

#temperature:hover {
	background: rgba(200, 200, 200, 0.125);
	color: @white;
	border: @white;
}

#battery {
	background: transparent;
	color: @white;
}

#battery:hover {
	background: rgba(200, 200, 200, 0.125);
	color: @white;
	border: @white;
}

#tray {
	background: transparent;
        color: @white;
}

#tray:hover {
	background: rgba(200, 200, 200, 0.125);
	color: @white;
	border: @white;
}

#clock {
	background: transparent;
	color: @white;
	font-size: 10pt;
}

#clock:hover {
	background: rgba(200, 200, 200, 0.125);
	color: @white;
	border: @white;
}

#custom-arrowL {
	font-size: 11pt;
	color: transparent;
	background: transparent;
}

#custom-arrowR {
	font-size: 11pt;
	color: transparent;
	background: transparent;
}

#custom-start {
	font-size: 20pt;
	color: @white;
	background: transparent;
	margin-left: 2px;
	margin-right: 2px;
}

#custom-start:hover {
	background: rgba(200, 200, 200, 0.125);
	color: @white;
	border: @white;
}

#custom-notifications {
	font-size: 16pt;
	color: @white;
	background: transparent;
	margin-right: 2px;
	margin-left: 2px;
}

#custom-notifications:hover {
	background: rgba(200, 200, 200, 0.125);
	color: @white;
}

#custom-spacer {
	font-size: 13px;
	color: transparent;
}
