
//@theme "/usr/share/rofi/themes/windows11-grid-dark.rasi"

//@theme "/usr/share/rofi/themes/windows11-grid-dark.rasi"

//@theme "/usr/share/rofi/themes/windows11-grid-dark.rasi"

//@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"

@theme "/usr/share/rofi/themes/arthur.rasi"
